<div id = 'actors'>
  <form class = "actor-input" name = 'actor-input' ng-submit = 'compareMovies()'>
    <div class="actor actor1">
    <label>First Actor:<input type='text' ng-model = 'names.actor1'></label>
  </div>
  <div class = "actor actor2">
    <label>Second Actor:<input type='text' ng-model = 'names.actor2'></label>
    <button type = 'submit'>Submit</button>
  </div>
  <div class = "pic1">
   <img class = "actor-image" src = {{pic1}}>
 </div>
 <div class="pic2">
    <img class = "actor-image"src = {{pic2}}>
  </div>
  </form>
</div>

<div id = 'container'>
  <div class=  "movies" ng-if="data.movies.length > 0" ng-model = "movies">
    <ul>
      <li ng-repeat= "movie in data.movies | orderBy : '-release_date'">
        <div class = "movie-container col-md-4">
        <img ng-if = "movie.poster_path.length>0" class = "poster" src = 'http://image.tmdb.org/t/p/original{{movie.poster_path}}'>
        <img ng-if = "movie.poster_path.length == null" class = "poster" src = "http://www.divxonline.ro/no-poster.jpg">
        <h2>{{movie.title}}  ({{movie.release_date.slice(0,4)}})</h2>
      </div>
      </li>
    </ul>
  </div>
  <div ng-if = "data.movies.length === 0" class = "movies movie-container col-md-4">
      <img class = "poster" src = 'http://www.wpclipart.com/signs_symbol/alphabets_numbers/outlined_alphabet/red_capitol/capitol_X_red.png'>
      <h2>No Shared Movies</h2>
  </div>
</div>